/*.font-sans {
    font-family: Gothic A1,-apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif;
}
h1, h2, h3, h4, p, ul {
    margin: 0;
}
.hover\:text-zenith:hover, .text-zenith {
    color: #fff;
}*/
html {
    scroll-behavior: smooth;
  }

.h-140{
 height: 140px;
}

.logo-hov:hover{
    transform: scale(1.1);
}